@import '../../variants.scss';

.proyects {
    color: white;
    text-align: center;

    @media (max-width:900px) {
        margin-top: 150px;
    }

    &__title {
        font-weight: $font_family_bold;
        font-size: 64px;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        background-image: linear-gradient(-90deg, $red_primary, $purple_primary);
        filter: contrast(15);
        margin-bottom: 150px;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 5%;
        margin-bottom: 100px;
    }

    &__info {
        width: 100%;
    }

    &__title_info {
        font-size: 44px;
    }

    &__description {
        font-size: 30px;
        text-align: justify;
    }

    &__container_images {
        width: 100%;

    }

    &__btn_images_container {
        display: flex;
        gap: 35px;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    &__btn_images {
        width: 60px;
        height: 60px;
        font-size: 30px;
        color: white;
        border: none;
        border-radius: 50px;
        background: rgb(128, 128, 128);
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    &__images_primary {
        width: 500px;
        height: 500px;
        border-radius: 30px;

        @media(max-width:500px) {
            width: 220px;
            height: 220px;

        }
    }

    &__images_secundary {
        display: flex;
        justify-content: center;
        gap: 4%;

        img {
            border-radius: 30px;
            width: 150px;
            height: 150px;
            cursor: pointer;

            @media(max-width:500px) {
                width: 100px;
                height: 100px;

            }
        }
    }

    &__btn_redirect {
        margin-top: 5%;

        a {
            width: 25%;
            font-size: 24px;
            font-weight: bold;
            background-image: linear-gradient(-90deg, $red_primary, $purple_primary);
            border: none;
            border-radius: 20px;
            padding: 5px 12px;
            text-decoration: none;
            color: black !important;

            &:hover {
                color: white !important;
            }

            @media(max-width:500px) {
                width: 100%;
                margin: 0 auto;
            }
        }
    }

}


.column {
    @media(max-width: 500px) {
        flex-direction: column-reverse;

    }
}


.column_reverse {
    flex-direction: row-reverse;

    @media(max-width: 500px) {
        flex-direction: column-reverse;
    }
}

.focus {
    box-shadow: 0 0 20px 8px $purple_primary;
}

.opacity {
    opacity: .5;
}