.cabecera {
    display: flex;
    justify-content: space-around;
    padding: 0 2%;
    background-image: linear-gradient(rgb(92, 92, 100), black);
    align-items: center;
    height: 70px;

    @media (max-width:414px) {
        justify-content: center;
    }

    &__titulo {

        color: white;

        @media (max-width:414px) {
            display: none;
        }

    }
    &__redes{
        @media (max-width:414px) {
            display: none;
        }
    }
}