.nav {

    &__container {

        flex-direction: row;
        display: flex;
        list-style: none;
        gap: 20px;

    }

    &__lista {
        position: relative;

        &:after {
            content: ' ';
            position: absolute;
            left: 0;
            top: 100%;
            width: 0%;
            height: 5px;
            background-color: white;
            transition: all ease-in-out .2s;

        }

        &:hover::after {
            width: 100%;
            left: 0;

        }

    }

    &__link {
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 25px;
    }
}