@import '../../variants.scss';

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 10px;
    font-size: 24px;
    font-weight: bold;



}

.navbar-list {
    display: flex;
    list-style: none;
    background-image: linear-gradient(-90deg, $red_primary, $purple_primary);
    border-radius: 20px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;

    @media(max-width:900px) {
        width: 90%;
    }
}

.navbar-item {
    margin: 0 10px;
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
}