@import '../variants.scss';

.app {

    background: $background;
    box-shadow: 0 -8px 10px 10px gray;
    margin-bottom: 355px;

    @media(max-width: 900px) {
        margin-bottom: 720px;
    }
}