  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

  $background: #090916;
  $red_primary: #db1436;
  $purple_primary: rgba(139, 61, 255, .6);
  $font_family_bold: 'Source Code Pro' bold;


  @font-face {
    font-family: 'Source code Pro' !important;
    font-weight: normal;
    font-style: normal;
    src: url('./components//Fonts/SourceCodePro-VariableFont_wght.ttf') format('ttf');
  }